@page
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginModel
@inject SignInManager<ApplicationUser> SignInManager
@using System.Collections.Generic

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>



<div class="container">
    <div class="row">
        <div class="col s12 m5 offset-m2">
            <section>
                <form method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input asp-for="Input.Email" type="email" class="validate">
                            <label asp-for="Input.Email" data-error="wrong" data-success="right">Email</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input asp-for="Input.Password" type="password" class="validate">
                            <label asp-for="Input.Password" data-error="wrong" data-success="right">Password</label>
                        </div>
                    </div>

                    <div class="row padding-left-10px">
                        <p>
                            <input asp-for="Input.RememberMe" type="checkbox" class="filled-in" />
                            <label asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                        </p>
                    </div>

                    <div class="row center">
                        <button class="btn waves-effect waves-light" type="submit">
                            Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>


                    <div class="row center">
                        <p>
                            <a asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        @*<p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>*@
                    </div>

                </form>
            </section>
        </div>
        <div class="col s12 m4 offset-m1">
            <h5>Login using External Providers.</h5>
            <div class="divider"></div>
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count != 0)
                {
                    <form asp-area="Identity" asp-page="/Account/ExternalLogin" asproute-
                          returnurl="@ViewData["ReturnUrl"]" method="post" class="formhorizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                <button type="submit" class="btn btndefault"
                                        name="provider" value="@provider.Name" title="Log in using your
                                    @provider.DisplayName account">
                                    @provider.Name
                                </button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
